<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Carrito de compra", 
    cssTag: "<link rel='stylesheet' type='text/css' href='/css/styles-cart.css'>"}) %>
    
<body>
  <%- include("../partials/header.ejs") %>
    <main>
      <div class="all-main">
      <section>

            <article>
             <div class="product-article">  
                <img src="/img/products/pantalon-nike.jpeg" alt="pantalón nike">
              <div class="description-article">
                <h3>Pantalón Nike D-line</h3>
                <h3>M</h3>
               <div class="add-subtract">
                <p class="btn">+</p>
                <p>1</p>
                <p class="btn">-</p>
               </div>
              </div>
              <p>$7.700</p>
             </div>
            </article>

            <article>
                <div class="product-article">  
                   <img src="/img/products/remeratraininggirl.jpeg" alt="remera nike mujer">
                 <div class="description-article">
                   <h3>Remera Nike Mujer</h3>
                   <h3>L</h3>
                  <div class="add-subtract">
                   <p class="btn">+</p>
                   <p>1</p>
                   <p class="btn">-</p>
                  </div>
                 </div>
                   <p>$5.500</p>
                </div>
               </article>

        </section>

        <div class="pay-way">
            <form action="/cart" method="get">
                <div class="cupon">
                <label for="cupon">¿Tenés algún cupón de descuento?</label>
                <input type="text" name="cupon" id="cupon" placeholder="Ingresá tu código">
                </div>
            </form>
            
            <div class="amount">
              <p>Subtotal</p>
              <p>$13.200</p>
            </div>
            <div class="amount">
              <p>Envío</p>
              <p>$0</p>
            </div>
            <div class="amount">
              <p>Total</p>
              <p>$13.200</p>
            </div>
        </div>
      </div>  
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>