<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Formulario de Creacion</title>
    <link rel="stylesheet" href="/css/styles-formularioDeCreacion.css">
    <link rel="stylesheet" href="/css/styles-index.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>

    <form action="/product" method="post" class="marco" enctype="multipart/form-data">


        <h1 class="tituloform">Carga de Productos</h1><br /><br />

        <div class="container">
            <label for="idProducto">Indica que producto vas a publicar:</label><br />
            <input type="text" id="idProducto" name="idProducto" class="caja"><br /><br />
        </div>

        <div class="container">
            <label for="categoria">¿A que categoría pertenece?</label><br />
            <select name="category">
                <option>Ropa femenina</option>
                <option>Ropa masculina</option>
                <option>Calzado</option>
                <option>Accesorios</option>
            </select><br /><br />
        </div>

        <div class="container">
            <label for="idMarca">Indique Marca del Producto a publicar:</label><br />
            <input type="text" id="idMarca" name="idMarca" class="caja"><br /><br />
        </div>

        <div class="container">
            <label for="idModelo">Indique Modelo del Producto a publicar</label><br />
            <input type="text" id="idModelo" name="idModelo" class="caja"> <br /><br />
        </div>

        <div class="container">
            <label for="idTitulo">Indique precio del Producto</label><br />
            <input type="text" id="idTitulo" name="precio" class="caja"><br /><br />
        </div>

        <div class="container">
            <label for="idColor"> Indique los colores que tiene este producto:</label><br />
            <input type="checkbox" value="rojo" name="color">Rojo<br>
            <input type="checkbox" value="negro" name="color">Negro<br>
            <input type="checkbox" value="blanco" name="color">Blanco<br>
            <input type="checkbox" value="azul" name="color">Azul<br>
            <input type="checkbox" value="rosa" name="color">Rosa<br>
            <input type="checkbox" value="estampado" name="color">Estampado<br><br>
        </div>

        <div class="container">
            <label for="idTalle"> Indique los talles que tiene este producto:</label>
            <input type="checkbox" value="XS" name="talle">XS<br>
            <input type="checkbox" value="S" name="talle">S<br>
            <input type="checkbox" value="M" name="talle">M<br>
            <input type="checkbox" value="L" name="talle">L<br>
            <input type="checkbox" value="XL" name="talle">XL<br>
            <input type="checkbox" value="XXL" name="talle">XXL<br><br>
        </div>

        <div class="container">
            <h4>Seleccione las imagenes del producto:</h4>
            <input type="file" name="imagen" class="control">
        </div>

        <div class="container">
            <label for="idcantidad">Selecciono la cantidad de elementos disponibles para la venta:</label><br />
            <input type="text" id="idcantidad" name="idcantidad" class="caja"><br><br>
        </div>

        <div class="container">
            <label for="comentario">Descripcion del Producto:</label><br>
            <textarea id="comentario" name="comentario" rows="5" cols="73"></textarea><br><br>
        </div>

        <div class="container">
            <button class="botonform" type="submit"><a style="text-decoration:none">Enviar</a></button>
            <button class="botonform" type="reset">Borrar</button>
        </div>
    </form>

    <%- include("../partials/footer.ejs") %>
</body>

</html>