<!DOCTYPE html>
<html lang="es">
<head>
	<title>iSporty - Carrito de compra</title>
	<link rel="stylesheet" type="text/css" href="/css/styles-cart.css">
	<link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
	


	<section>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Productos en el carrito</h3>
   	   	<h5 class="remover">Remover todo</h5>
   	   </div>

   	   <div class="Cart-Items">
   	   	  <div class="image-box">
   	   	  	<img src="https://essential.vteximg.com.br/arquivos/ids/305737-1000-1000/266-0710_1.jpg" style={{ height="120px" }} />
   	   	  </div>
   	   	  <div class="descripcion">
   	   	  	<h1 class="title">Remera X-Xtration</h1>
   	   	  	<h3 class="subtitle">M</h3>
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<p class="btn">+</p>
   	   	  	<p class="count">2</p>
   	   	  	<p class="btn">-</p>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<p class="amount">$2.090</p>
   	   	  	<p class="save"><u>Comprar luego</u></p>
   	   	  	<p class="remove"><u>Remover</u></p>
   	   	  </div>
   	   </div>

   	   <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="https://falabella.scene7.com/is/image/FalabellaAR/2864252_1?wid=1004&hei=1500&crop=248,0,1004,1500&qlt=70" style={{ height="120px" }} />
   	   	  </div>
   	   	  <div class="descripcion">
   	   	  	<h1 class="title">Jogging D-Formation</h1>
   	   	  	<h3 class="subtitle">32</h3>
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<p class="btn">+</p>
   	   	  	<p class="count">1</p>
   	   	  	<p class="btn">-</p>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<p class="amount">$7.009</p>
   	   	  	<p class="save"><u>Comprar luego</u></p>
   	   	  	<p class="remove"><u>Remover</u></p>
   	   	  </div>
   	   </div>
   	 <div class="checkout">
        <div>
          <form action="/cart" method="get">
            <div class="cupon-input">
              <label for="text"></label>
              <input type="text" placeholder="Cupón">
              <button class="btn-cupon">Validar</button>
  </form>
  </div>
   	 <div class="subtotal">
   	 	<div>
   	 		<p class="Subtotal">Subtotal</p>
   	 	</div>
   	 	<p class="subtotal-amount">$11.189</p>
   	 </div>
		<div class="total">
   	 	<div>
			<p class="totalfinal">Total</p>
   	 	</div>
   	 	<p class="total-amount">$11.189</p>
   	 </div>
   	 <button class="button">Proceder a método de pago</button></div>
   </div>
</section>



</body>
</html>