<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSporty - Carrito de compra</title>
    <link rel="stylesheet" type="text/css" href="/css/styles-cart.css">
	<link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <h2 class="title-header">Envío gratis a todo el país en compras mayores a $6500</h2>
      <div class="header-container">
        <div class="burger-and-search">
          <div class="burger-menu">
              <i class="fas fa-bars"></i>
          </div>
  
          <div>
            <form class="features-search" action="">
              <input class="search-bar" type="text" name="search" placeholder="Buscar productos, marcas"> <i class="fas fa-search"></i>
            </form>
          </div>
        </div>
  
        <nav class="nav-bar">
          <ul class="ul-bar">
            <a href="/"><li>Inicio</li></a>
            <li>Hombre</li>
            <li>Mujer</li>
            <li>Ofertas</li>
            <li><i class="fas fa-chevron-down"></i> Marcas</li>
          </ul>
        </nav>
        
        <img class="iso" src="/img/isotipo-isporty.png" alt="logo de isporty">
        <img class="logo" src="/img/logotipo-isporty.png" alt="logo de isporty">
  
          <div class="carrito-login">
              <div class="shopping-cart">
              <i class="fas fa-shopping-cart"></i>
              </div>
              <div class="user-circle">
              <i class="far fa-user-circle"></i>
              </div>
              <a class="link-login" href="/login">Iniciar sesión</a>
          </div>
          
      </div>
      </header>

    <main>
        <section>

            <article>
             <div class="product-article">  
                <img src="/img/pantalon-nike.jpeg" alt="pantalón nike">
              <div class="description-article">
                <h3>Nombre del producto</h3>
                <h3>Talle del producto</h3>
               <div class="add-subtract">
                <p class="btn">+</p>
                <p>Cantidad de producto</p>
                <p class="btn">-</p>
               </div>
              </div>
              <p>$Precio</p>
             </div>
            </article>

            <article>
                <div class="product-article">  
                   <img src="/img/pantalon-nike.jpeg" alt="pantalón nike">
                 <div class="description-article">
                   <h3>Nombre del producto</h3>
                   <h3>Talle del producto</h3>
                  <div class="add-subtract">
                   <p class="btn">+</p>
                   <p>Cantidad de producto</p>
                   <p class="btn">-</p>
                  </div>
                 </div>
                    <p>$Precio</p>
                </div>
               </article>

        </section>

        <div class="pay-way">
            <form action="/cartprueba">
                <div class="cupon">
                <label for="cupon">¿Tenés algún cupón de descuento?</label>
                <input type="text" name="cupon" id="cupon" placeholder="Ingresá tu código">
                </div>
            </form>
            <div class="amount">
              <p>Subtotal</p>
              <p>$$$</p>
            </div>
            <div class="amount">
              <p>Envío</p>
              <p>$$$</p>
            </div>
            <div class="amount">
              <p>Total</p>
              <p>$$$</p>
            </div>
        </div>
    </main>

    <footer class="box-footer">
        <form action="/login" method="POST">
          <div class="email-and-buttom">
          <label class="title-suscription">Recibí las ofertas en tu mail</label>
          <input class="email" type="email" name="email" placeholder="Correo electrónico">
          <input class="buttom-footer" value="Suscribirse" type="submit">
          </div>
        </form>
        <div class="footer-container">
          <img src="img/logotipo-isporty.png" class="logotipo">
          <img class="logo-footer" src="/img/isotipo-isporty.png" alt="logo de isporty">
           <div class="h3-footer">
             <h3><a href="">Privacidad</a></h3>
             <h3><a href="">Comunidad</a></h3>
             <h3><a href="">Contacto</a></h3>
             <h3><a href="">Blog</a></h3>
             <h3><a href="">Términos y condiciones</a></h3>
           </div>
           <div class="h3-footer-desktop">
              <h3><a href="">Inicio</a></h3>
              <h3><a href="">Hombres</a></h3>
              <h3><a href="">Mujeres</a></h3>
              <h3><a href="">Marcas</a></h3>
              <h3><a href="">Ofertas</a></h3>
            </div>
        </div>
        <div class="social-medias">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-whatsapp"></i>
        </div>
        
      </footer>
    
</body>
</html>