@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

/* SLIDER HEADER*/

/* Slideshow container */
.slideshow-container {
    height: auto;
    position: relative;
  }
  
  /* Hide the images by default */
  /* .mySlides {

  } */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #002d56;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* FIN SLIDER HEADER*/

/****** HEADER PRUEBA ******/
.main-header {
    background-color: white;
    position: fixed;
    top:25;
    width: 100%;
    z-index: 20;
    /* padding: 10px; */
}

.title-header {
    margin: auto;
	padding-bottom: 5px;
	padding-top: 5px;
    font-size: 18px;
    text-align: center;
    display: none;
	color: rgb(255, 255, 255);
	background-color: #4678f4;
}

.div-search-header-768{
    display: none;
}

.burger-and-logos-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* .div-logos-header{
    margin-left: 40px;
} */

.div-search-header{
    margin-top: 8px;
}

/* .div-user-header{

} */

.isotipo-header{
    width: 40px;
    display: block;
}

.logotipo-header{
    width: 15%;
    display: none;
}

.button-and-input-search-header{
    display: flex;
    flex-wrap: wrap;
}

.input-search-header{
    width: 91%;
    padding: 6px;
}

.profile-image-header{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.logos-fontawesome-header{
    font-size: 20px;
    margin-right: 4px;
}

.links-users-header{
    display: none;
}

.navBar-header{
    display: none;
}

.burger-menu-header{
    width: 30px;
    height: 30px;
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(6); */
    cursor: pointer;
}

.burger-menu-header span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 400ms;
}

.activespan1-burger{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activespan2-burger{
    opacity: 0;
    margin-left: -30px;
}

.activespan3-burger{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/*aside burguer*/
#aside-burger-id{
    display: none;
}
.aside-burger{
    background-color: white;
    position: absolute;
    top: 60px;
    z-index: 2;
    width: 100%;
    min-height: 150px;
    border-top: 2px solid black;
     /* Hay que agregarle una transition */
}

.links-burger{
    text-decoration: none;
}

.navBar-burger li {
    margin-top: 10px;
    font-size: 18px;
}

/****** FIN HEADER PRUEBA ******/

/* header */

/* .main-header {
    background-color: white;
    position: fixed;
    top:25;
    width: 100%;
    z-index: 20;
}

.title-header {
    margin: auto;
	padding-bottom: 5px;
	padding-top: 5px;
    font-size: 18px;
    text-align: center;
    display: none;
	color: rgb(255, 255, 255);
	background-color: #4678f4;
} */

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom:solid #4678f4 2px;
}

.burger-and-search {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.burger-menu {
    margin: 0px 10px;
}

.search-bar{
    display: none;
}

.nav-bar {
    display: none;
}

ul {
    list-style-type: none;
}

.ul-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.iso {
    width: 40px;
}

.logo {
    width: 10%;
}

.carrito-login {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.shopping-cart {
    margin-right: 10px;
}

.link-login-register {
    display: none;
}

/* MAIN */

.banner {
    margin-top: 100px;
    width: 100%;
}

main {
    background: linear-gradient(350deg, rgba(117,194,233,1) 26%, rgba(131,204,241,1) 37%, rgba(83,166,243,1) 49%);
    /* background-color: #53a6f3; */
    padding: 20px 0px;
    margin: auto
}

.article-ipad {
    display: none
}

.article-desktop {
    display: none
}

.title-news {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.title-news-first {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.img-products {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}

.product-article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.product-article i {
    font-size: 24px;
}

.product-container {
    background-color: white;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(31, 31, 31);
    /* margin-bottom: 20px; */
    border-radius: 15px;
    min-height: 300px;
    width: 300px;
    margin: auto;
}

.suscription-box {
    border: solid 2px black;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    margin: 70px 0px;
}

.botonsuscribite {
display: flex;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid #4678f4;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#4678f4;
text-align:center;
transition: all 0.2s;
display: block;
margin-top: 10px;
}

.suscription-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.suscription-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.suscription-box button:hover {
    background-color: #53a6f3;
    color: white;
}

.suscription-input input {
    margin: 5px 0px;
    width: 100%
}

.suscription-box h2 {
    font-size: 16px;
    text-align: center;
}

.actividad {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 450px;
    margin: auto;

}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    right:10px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 48px;
    
  }

  /* CARRUSEL */

.carrusel-container {
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    margin: 25px 25px;
    background-color: white;
    height: auto;
    width: auto;

}

.carrusel-container i, .description-carrusel {
    display: none;
}

.carrusel-container:hover i, .carrusel-container:hover .description-carrusel {
    display: block;
}

.carrusel-container:hover {
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.84);
}

.carrusel-container:hover .description-carrusel {
    display: block;
}

.fav-heart {
    position: absolute;
    left: 85%;
    top: 15px;
    font-size: 25px;
}

.fav-heart:hover {
    color: red;
}

/* .cart-carrusel {
    position: absolute;
    font-size: 22px;
    bottom: 90px;
    left: 70%;
    color: #53a6f3;
} */

.img-carrusel {
    width: 100%;
    height: 40vw;
    object-fit: scale-down;
}

.info-carrusel h2{
    text-align: center;
    font-weight: 400;
    padding: 5px;
    font-size: 18px;
}

.price-carrusel, .envio {
    margin-left: 20px;
}

.price-carrusel p {
    font-size: 18px;
    font-weight: 600;
}

.envio {
    margin-top: -10px;
    margin-bottom: 20px;
    color: rgb(0, 173, 0);
    font-weight: 500;
}

.description-carrusel p{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}

.description-carrusel a {
    text-decoration: none;
    color: #53a6f3;
}

/* FIN CARRUSEL */

/* footer */
.h3-footer-desktop {
    display: none}
 .logotipo {
    display: none
 }
 .box-footer {
    padding: 20px;
    background-color: rgb(46, 83, 131);
 }
 .title-suscription{
    display: none;
    font-size: 16px;
    color: white;
 }
 .email, .buttom-footer {
    border-radius: 5px;
 }
 .email-and-buttom {
    text-align: center;
 }
 .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }
 .logo-footer {
    width: 80px;
 }
 .h3-footer {
    text-align: center;
    font-size: 13px;
 }
 .h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
 }
 .social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white
 }

/*Mobile*/

@media (max-width:479px) {
    .logo {
        display: none;
       }
    }
    
    /*Ipad*/
    
@media (min-width:480px) {
    .iso {
    display: none;
        }
    }

@media (min-width:768px) {
    /* Header prueba */

    .isotipo-header{
        display: none;
    }

    .logotipo-header{
        display: block;
        width: 200px;
    }

    .burger-menu-header{
        display: none;
    }

    .div-search-header{
        display: none;
    }

    .div-search-header-768{
        display: block;
    }

    /*menu desplegable*/
    .navBar-header{
        display: block;
        border-top: 2px solid #53a6f3;
        /* background-color: #53a6f3; */
    }

    .menu, .subMenu-header{
        padding: 0;
        margin: 0;
    }

    .menu{
        background: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .menu-link{
        display: block;
        padding: 10px;
        color: black;
        font-size: 20px;
        text-decoration: none;
    }

    .subMenu-header .menu-link:hover{
        background: rgb(203, 203, 203);
    }

    .container-submenu{
        position: relative;
    }

    .subMenu-header {
        /* overflow: hidden; */
        /* overflow: visible; */
        /* top: 60px; */
        /* z-index: 10; */
        height: 0;
        transition: 0.3s;
        position: absolute;
        width: 170px;
        opacity: 0;
        visibility: hidden;
    }

    .subMenu-header .menu-link{
        background: white;
        padding-left: 40px;
    }

    .container-submenu:hover .subMenu-header {
        opacity: 1;
        visibility: visible;
    }

    /* FIN menu desplegable*/

    /* fin header prueba */

    /* header */
    .title-header {
        display: block;
    }

    .logo {
        width: 150px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-left: -45px;
    }

    .ul-bar li {
        margin: 0px 10px;
    }

    .user-circle {
        margin-left: 20px;
        margin-right: 10px;
    }

    .logo {
        order: -1;
    }

    /* MAIN */ 

    /* Carrusel */

    .fav-heart {
        left: 82%;
        font-size: 22px;
    }

    .img-carrusel {
        
        height: 15vw;
        
    }

    /* Fin carrusel */

    .banner {
        margin-top: 115px;
    }

    .title-news-first {
        margin-top: 30px;
    }

    .article-ipad {
        display: block
    }

    .productos {
        display: flex;
        justify-content: space-around;
        width: 750px;
        margin: auto
    }

    .productos2 {
        display: flex;
        justify-content: space-around;
        width: 750px;
        margin: auto
    }

    .suscription-box h2 {
        font-size: 20px;
    }

    .suscription-box button {
        margin-left: 40px;
    }

    .suscription-input{
        align-items: center;
    }
    
    .suscription-container{
        justify-content: center
    }
    
    .suscription-input input {
        width:100%;
    }
    
    .suscription-box button {
        left:600px;
    }
    
    
    /* footer */
    
    .email {
        width: 300px;
    }
    .buttom-footer {
        width: 150px;
    }
    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    /* header */

    .slideshow-container {
        margin-top: -30px;
      }

    .article-mobile {
        display: none
    }
    .article-ipad {
        display: none
    }

    .logo {
        width: 200px;
    }

    .search-bar {
        display: block;
    }

    .features-search {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .features-search i {
        margin-left: 5px;
    }

    .logo-search-and-input {
        display: flex;
    }

    .logo-search-and-input button {
        margin-right: 3px;
    }

    .link-login-register {
        display: block;
        margin-right: 10px;
    }

    .user-circle {
        display: none;
    }

    /* main */

    /* .banner {
        margin-top: 55px;
    } */

    .title-news-first {
        margin-top: 40px;
    }

    .article-ipad {
        display: none
    }

    .article-desktop {
        display: block
    }

    .product-container {
        margin: 20px 10px;
    }

    .productos {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
    }
    
    .productos2 {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1000px;
    }

    .suscription-box h2 {
        font-size: 24px;
    }

    .suscription-input{
        align-items: center;
    }
    
    .suscription-input input {
        width:100%;
    }
    
    .suscription-box button {
        left:900px;
    }


    /* footer */
    
    .title-suscription {
        display:block;
        align-self: flex-end
    }
    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }
    .h3-footer-desktop {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        order: -1;
        text-align: center;
        font-size: 13px;        
    }
    .h3-footer-desktop a {
        color: rgb(230, 230, 230);
        text-decoration: none;
    }
    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }
    .logo-footer {
        display: none
    }
    .email {
        max-width: 60%;
    }
    .buttom-footer {
        max-width: 30%;
    }

    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }
    .email-and-buttom {
        display: flex;
        justify-content: center;
        height: 110px;
    }
    .box-footer form {
        max-width: 350px;
    }
}