@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

/* #53a6f3 */

body {
    font-family: "Roboto";
}

h2 {
    font-size: 22px
}

/* MAIN */

.detail-container-box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: linear-gradient(350deg, rgba(117,194,233,1) 26%, rgba(131,204,241,1) 37%, rgba(83,166,243,1) 49%);
}

.detail-main{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid black;
    margin-bottom: 50px;
    margin-top: 30px;
}

.detail-info{
    display: none;
    background-color: white;
}

.img-detail{
    text-align: center;
}

.img-detail img {
    width: 250px;
    border-bottom: 1px solid black;
}

.h1-title {
    font-weight: bold;
    font-size: 30px;
}

.edit-a {
    text-decoration: none;
}

.form-edit-and-delete {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.form-edit-and-delete a, .form-edit-and-delete button {
    width: 45%;
    text-align: center;
}

.price-title, .color-container, .size-container, .sizes-map, .features, .description-box, .interested-people, .form-ask-questions {
    border-bottom: 1px solid black;
}

.color-style-p {
    background-color: #ededed;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.size-style, .ask-input {
    border: 2px solid #292929c5;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #ededed;
    margin-bottom: 20px;
}

.ask-input::placeholder {
    color: black;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.button-style {
    padding: 8px;
    background-color: #53a6f3;
    color: white;
    border: 3px solid rgb(46, 83, 131);
    border-radius: 10px;
    margin-bottom: 20px;
}

.button-style:hover {
    background-color: rgb(46, 83, 131);
    border: 3px solid rgb(46, 83, 131);
    color: white;
}

.interested-people h2 {
    font-size: 20px;
}

.ask-button {
    width: 100%;
    padding: 8px;
    background-color: #53a6f3;
    color: white;
    border: 3px solid rgb(46, 83, 131);
    border-radius: 10px;
    margin-bottom: 20px;
}

.ask-button:hover {
    background-color: rgb(46, 83, 131);
    border: 3px solid rgb(46, 83, 131);
    color: white;
}

.sizes-768px{
    display: none;
}

/* CSS DE LA TABLA DE TALLES */
    .table-sizes, .features-table {
        margin-bottom: 20px;
    }

    .span-sizes{
        color: #53a6f3;
        font-weight: 600;
    }

    /* Funcionalidad para ocultarlo */
    .hidden {
        display: none;
      }
    
    .table-sizes {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 6rem;
        border-radius: 5px;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 20;
        width: 500px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(3px);
        z-index: 5;
      }
    /* Fin de la funcionalidad */

/* FIN CSS DE LA TABLA DE TALLES */

/* FIN MAIN */

/* FOOTER */

.h3-footer-desktop {
    display: none
}

.logotipo {
    display: none
}

.box-footer {
    padding: 20px;
    background-color: rgb(46, 83, 131);
}

.title-suscription {
    display: none;
    font-size: 16px;
    color: white;
}

.email,
.buttom-footer {
    border-radius: 5px;
}

.email-and-buttom {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 80px;
}

.h3-footer {
    text-align: center;
    font-size: 13px;
}

.h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white
}

/* FIN FOOTER */

@media (min-width:768px){
    /* MAIN */
    .detail-main{
        width: 70%;
    }

    .detail-info{
        display: block;
        width: 30%;
        padding: 15px;
        border-radius: 15px;
        border: 3px solid black;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .details-of-product-Mobile{
        display: none;
    }

    .price-768px{
        font-size: 20px;
    }

    .span-sizes {
        font-size: 16px;
    }

    .buttons-container {
        flex-direction: column;
    }

    .free-devolution, .guarantee, .payment-methods {
        border-bottom: 1px solid black;
    }

    .devolution-p, .guarantee-p, .payment-p{
        /* background-color: #f3f3f3; */
        padding: 10px;
        border: 2px solid #53a6f3;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .devolution-1{
        text-align: start;
    }

    .payment-p p {
        text-align: start;
        font-size: 16px;
        font-weight: 700;
    }

    .credit-container, .debit-container, .cash-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .visa {
        width: 40%;
    }

    .visa-debito {
        width: 40%;
    }

    .mastercard-debito{
        width: 30%;
    }

    .cabal{
        width: 25%;
    }

    .rapipago {
        width: 50%;
    }

    .pagoFacil {
        width: 20%;
    }

    .sizes-768px{
        display: block;
    }

    /* Funcionalidad para ocultar el table sizes */
    .table-sizes {
        top: 50%;
    }

    .overlay {
        height: 100%;
      }
    /* Funcionalidad para ocultar el table sizes */

    /* FIN MAIN */

    /* FOOTER */

    .email {
        width: 300px;
    }

    .buttom-footer {
        width: 150px;
    }

    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    /* FIN FOOTER */
}

@media (min-width:1200px) {
    /* MAIN */

    h2 {
        font-size: 28px;
    }
    .size-style {
        width: 50%;
    }

    .ask-input{
        width: 55%;
    }

    .ask-button{
        width: 40%;
        padding: 5px;
    }

    .span-sizes {
        font-size: 18px;
    }

    .size-style, .ask-input, .ask-button, .description-box p {
        font-size: 18px;
    }

    .price-768px {
        font-size: 22px;
    }

    .color-style-p {
        font-size: 18px;
    }

    .buttons-container{
        align-items: center;
    }

    .button-style{
        width: 70%;
    }

    .devolution-p p, .guarantee-p {
        font-size: 16px;
    }

    .payment-p p {
        font-size: 20px;
    }

    .visa {
        width: 30%;
    }

    .mastercard {
        width: 15%;
    }

    .naranja {
        width: 10%;
    }

    .visa-debito {
        width: 30%;
    }

    .mastercard-debito, .cabal {
        width: 20%;
    }

    .rapipago {
        width: 30%;
    }

    .pagoFacil {
        width: 10%;
    }

    /* Table features */

    .th-styles-features {
        font-size: 18px;
    }

    /* Fin table features */

    /* FIN DEL MAIN */

    /* FOOTER */

    .title-suscription {
        display: block;
        align-self: flex-end
    }

    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }

    .h3-footer-desktop {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        order: -1;
        text-align: center;
        font-size: 13px;
    }

    .h3-footer-desktop a {

        color: rgb(230, 230, 230);
        text-decoration: none;
    }

    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }

    .logo-footer {
        display: none
    }

    .email {
        max-width: 60%;
    }

    .buttom-footer {
        max-width: 30%;
    }

    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }

    .email-and-buttom {
        display: flex;
        justify-content: center;
        height: 110px;
    }

    .box-footer form {
        max-width: 350px;
    }
    /* FIN FOOTER */
}