@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box; 
}

body {
    font-family: "Roboto";
}

/*main*/

.main-container {
    padding-top: 30px;
    margin-top: 80px;
}

.imgProduct {
    width:  400px;
    height: 400px;
    object-fit: scale-down;
}

main {
    background-color: #53a6f3;
    padding: 20px 0px;
    margin: auto;
    padding: 20px;
}

.filter-container {
    /* display: none; */
    border-right: solid 0.5px black;
}

.filter-container h3 {
    border-bottom: solid 1px black;
    text-align: center;
}

.talle-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.marca-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.genero-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.product-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.filter-section{
    cursor: pointer;
}

.precio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.descuentos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.ubicacion-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.product-description h2 {
    font-size: 20px;
}

.section-style img {
    width: 100%;
    border-bottom: solid 1px gray;
}

.section-style article {
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
}

.article-style {
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(31, 31, 31);
    width: 310px;
    margin: auto;
}

.article-style i {
    position: absolute;
    left: 86%;
    bottom:90%;
    font-size: 1.5em;
    display: none;
}

.shoppingcart i {
    position: absolute;
    left: 86%;
    top: 90%;
    color: #53a6f3;
}

.article-style:hover i {
    display: block;
}

.article-style:hover {
    box-shadow: 10px 10px 10px rgb(31 31 31);
}

.article-style p {
    display: none;
}

.article-style:hover p {
    display: block;
}

.product-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

/* FILTER MENU MOBILE */

.filter-mobile{
    background-color: white;
    padding: 8px;
    margin-bottom: 30px;
}

.h3-filter-mobile {
    font-size: 18px;
    /* border-bottom: 2px solid rgba(152, 152, 152, 0.617); */
    padding: 10px;
    margin-bottom: -3px;
    margin-top: -2px;
}

.select-filter-mobile {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.mobile-container {
    margin-bottom: 5px;
    border-bottom: 2px solid #53a6f3;
}

.filter-scroll{
    overflow-y: scroll;
    height: 80px;
    padding: 10px 6px 15px 6px;
}

.button-filter-mobile{
    padding: 10px;
    background-color: #53a6f3;
    color: white;
    border-radius: 5%;
    width: 45%;
    margin: 15px 0px;
}

.buttons-filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hidden {
    display: none;
}

/* FIN FILTER MENU MOBILE */

    
/*resolución 768*/

@media (min-width: 768px) {

    /*main*/

    .main-container {
        padding-top: 100px;
    }

    .product-results {
        justify-content: space-around;
    }

    .article-style {
        width: 40%
    }

    .section-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .product-results {
        display: none;
    }

    .main-container {
        padding-top: 170px;
        margin-top: 50px;
    }
    .article-style {
        width: 30%;
    }

    .main-container {
        display: flex;
    }

    .filter-container {
        display: block;
        margin-right: 30px;
        padding: 10px 30px 0px;
        width: 30%;
    }

    .price-form input{
        width: 100%;
    }

    .filter-container span {
        margin-bottom: 10px;
    }

    .section-style {
        width: 70%;
    }
}