@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

/* header */

.main-header {
    background-color: white;
}

.title-header {
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    text-align: center;
    display: none;
    color: rgb(255, 255, 255);
    background-color: #4678f4;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.burger-and-search {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.burger-menu {
    margin: 0px 10px;
}

.search-bar{
    display: none;
}

.nav-bar {
    display: none;
}

ul {
    list-style-type: none;
}

.ul-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.iso {
    width: 40px;
}

.logo {
    width: 10%;
}

.carrito-login {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.shopping-cart {
    margin-right: 10px;
}

.link-login-register {
    display: none;
}

/* main del register*/

.banner {
    width: 100vw;
    margin-left: 0px;
}
.main-form {
    background-color: white;
}

.main-navbar {
    display: none
}

.main-navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.create-form {
    padding: 20px 15px;
}

.invalid {
    border: 1px solid rgb(229, 16, 16);
}

.valid {
    border: 1px solid rgb(10, 195, 10);
}

.text-valid {
    color: rgb(10, 195, 10);
}

.text-danger {
    color: rgb(229, 16, 16);
    margin-top: 5px;
}

.span-msg {
    display: flex;
    flex-direction: column;
}

.span-msg span {
    margin-top: 6px;
}

.controlador {
    margin-bottom: 15px;
}

.controlador label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    /* border: 1px solid rgb(196, 196, 196) */
}

.main-form h1 {
    text-align: center;
    color: #808790;
    font-size: 25px;
    margin: 10px 
}

.create-form h2 {
    color: #808790;
}

.create-form p {
    text-align: right;
}


.boton-formulario {
display: flex;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid #4678f4;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-weight:300;
color:#4678f4;
text-align:center;
transition: all 0.2s;
display: block;
margin-top: 10px;
    
}

.boton {
    align-self: flex-end;
    align-items: flex-end;
    padding: 0px 15px;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 48px;
    
  }

/* footer */

.h3-footer-desktop {
    display: none}

.logotipo {
    display: none
}
.box-footer {
    padding: 20px;
    background-color: rgb(46, 83, 131);
}

.title-suscription{
    display: none;
    font-size: 16px;
    color: white;
}

.email, .buttom-footer {
    border-radius: 5px;
}

.email-and-buttom {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 80px;
}

.h3-footer {
    text-align: center;
    font-size: 13px;
}

.h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white
}

/*Mobile*/

@media (max-width:479px) {

    .logo {
        display: none;
    }
    
    }
    
    /*Ipad*/
    
@media (min-width:480px) {
    
    .iso {
    display: none;
        }
        
    }

@media (min-width:768px) {
    /* header */
    .title-header {
        display: block;
    }

    .logo {
        width: 150px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-left: -45px;
    }

    .ul-bar li {
        margin: 0px 10px;
    }

    .link-login {
        display: block;
    }

    .user-circle {
        margin-left: 20px;
        margin-right: 10px;
    }

    .logo {
        order: -1;
    }

    /* main */ 

    @media (min-width: 768px){

        
        .main-form section form {
            width: 95%;
            max-width: 900px;
            margin: auto;
            border: solid 1px #808790;
            border-radius: 20px;
            padding: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    
        .create-form {
            max-width: 700px;
            flex-direction: row;
            width: 50%;
        }
    
        .boton {
            align-self: flex-end;
            padding: 50px
        }

        .main-form {
            padding-bottom: 50px
        }
    
    }
    
    /* footer */
    
    .email {
        width: 300px;
    }

    .buttom-footer {
        width: 150px;
    }

    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    /* header */

    .search-bar {
        display: block;
    }

    .features-search {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .features-search i {
        margin-left: 5px;
    }

    .link-login-register {
        display: block;
        margin-right: 10px;
    }

    .user-circle {
        display: none;
    }

    /* footer */
    

    .title-suscription {
        display:block;
        align-self: flex-end
    }

    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }

    .h3-footer-desktop {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        order: -1;
        text-align: center;
        font-size: 13px;        
    }

    .h3-footer-desktop a {

        color: rgb(230, 230, 230);
        text-decoration: none;
    }

    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }

    .logo-footer {
        display: none
    }

    .email {
        max-width: 60%;
    }

    .buttom-footer {
        max-width: 30%;
    }

    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }

    .email-and-buttom {
        display: flex; 
        justify-content: center;
        height: 110px;
    }

    .box-footer form {
        max-width: 350px;
    }
    
}