@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.text-danger {
    color: rgb(229, 16, 16);
    margin-top: 5px;
}

/* header */

.main-navbar-header{
    border-bottom: 2px solid #53a6f3;
}

/* PROBANDO ESTILOS */
main{
    background: linear-gradient(350deg, rgba(117,194,233,1) 26%, rgba(131,204,241,1) 37%, rgba(83,166,243,1) 49%);
    padding: 20px 0px;
}

#edit-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.form-container-create {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    border: 5px solid black;
    box-shadow: 8px 8px 20px rgb(39, 39, 39);
    margin-bottom: 60px;
}

.label-title-first {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}

.label-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-top: 1px solid #000000b4;
}

.field-style{
    width: 100%;
    border: 2px solid #292929c5;
    border-radius: 5px;
    padding: 5px;
}

.textarea-style{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}

.buttons-edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.button-style {
    width: 200px;
    margin-top: 10px;
    padding: 5px;
    align-self: center;
    background-color: #53a6f3;
    color: white;
    border: 3px solid rgb(46, 83, 131);
    border-radius: 10px;
    text-align: center;
}

.button-style:hover {
    background-color: rgb(46, 83, 131);
    border: 3px solid rgb(46, 83, 131);
    color: white;
}

/* PROBANDO ESTILOS */

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 48px;
    
  }

/* footer */

.h3-footer-desktop {
    display: none}

.logotipo {
    display: none
}
.box-footer {
    padding: 20px;
    background-color: rgb(46, 83, 131);
}

.title-suscription{
    display: none;
    font-size: 16px;
    color: white;
}

.email, .buttom-footer {
    border-radius: 5px;
}

.email-and-buttom {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 80px;
}

.h3-footer {
    text-align: center;
    font-size: 13px;
}

.h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white
}


@media (min-width:768px) {

    /* main */ 

    .form-container-create{
        width: 600px;
        margin: auto;
        margin-bottom: 70px;
    }

    .field-style{
        width: 70%;
        margin: auto;
    }

    .textarea-style {
        width: 70%;
        height: 150px;
        margin: auto;
    }

    .buttons-edit {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* footer */
    
    .email {
        width: 300px;
    }

    .buttom-footer {
        width: 150px;
    }

    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    /* main */

    .form-container-create{
        width: 850px;
    }

    .field-style, .textarea-style {
        font-size: 18px;
    }

    /* footer */
    

    .title-suscription {
        display:block;
        align-self: flex-end
    }

    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }

    .h3-footer-desktop {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        order: -1;
        text-align: center;
        font-size: 13px;        
    }

    .h3-footer-desktop a {

        color: rgb(230, 230, 230);
        text-decoration: none;
    }

    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }

    .logo-footer {
        display: none
    }

    .email {
        max-width: 60%;
    }

    .buttom-footer {
        max-width: 30%;
    }

    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }

    .email-and-buttom {
        display: flex; 
        justify-content: center;
        height: 110px;
    }

    .box-footer form {
        max-width: 350px;
    }
    
}