@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}


.marco {
    padding-top: 30px;
    margin: auto;
}

body {
    font-family: "Roboto";
}

.marco {
    margin: 0 auto;
    align-items: center;
    width: 100%;
 
}

.label{
    margin-bottom: 5px;
    font-style: italic;
}

.container{
    margin-bottom: 15px;
    font-style: italic;
    width: 60%;
    padding: 8px;
    margin: 0 auto;

}
.tituloform{
    text-align: center;
    color: #808790;
    font-size: 25px;
    margin: 10px;
}

.caja {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(196, 196, 196);


}

.botonform{
    background-color: #4678f4;
    border: none;
    font-size: 25px;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    
}

.botonimg {
    background-color: whitesmoke;
    padding: 10px 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    
}

/*resolución 768*/

@media (min-width: 768px) {

    /*main*/

.marco {
    padding-top: 100px;
}

}