@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

/* header */

.main-header {
    background-color: white;
}

.title-header {
    margin: auto;
	padding-bottom: 5px;
	padding-top: 5px;
    font-size: 13px;
    text-align: center;
    display: none;
	color: white;
	background-color: #4678f4;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom:solid #4678f4 2px;
}

.burger-and-search {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.burger-menu {
    margin: 0px 10px;
}

.search-bar{
    display: none;
}

.nav-bar {
    display: none;
}

ul {
    list-style-type: none;
}

.ul-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.iso {
    width: 40px;
}

.logo {
    width: 10%;
}

.carrito-login {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.shopping-cart {
    margin-right: 10px;
}

.link-login-register {
    display: none;
}

/* main */

.box-main {
    background-color: #53a6f3;
    padding: 10px;
}

.all-login {
    border: 2px solid black;
    background-color: white;
    width: 250px;
    margin: auto;
    box-shadow: 8px 8px 20px rgb(39, 39, 39);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-user, .input-password {
    margin-bottom: 15px;
}

input {
    padding: 5px;
    border-radius: 5px;
}

.email-span, .password-span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.span-msg {
    margin-top: 5px;
}

.button-style {
    background-color: #386082;
    padding: 5px 25px;
    color: rgb(250, 250, 250);
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.button-style:hover{
    background-color: #53a6f3;
}

.remind-me {
    display: flex;
    display: block;
    align-items:center;
}

.remind-text {
    margin-right: 10px;
    font-size: 18px;
}

.invalid {
    border: 1px solid rgb(229, 16, 16)

}

.valid {
    border: 1px solid rgb(10, 195, 10)
}

.text-danger {
    color: rgb(229, 16, 16);
    margin-top: 5px;
}

.text-valid {
    color: rgb(10, 195, 10)
}

.questions-of-users {
    font-size: 13px;
}

.questions-of-users h3 a {
    text-decoration: none;
    color: black;
}

/* footer */
.h3-footer-desktop {
    display: none}
 .logotipo {
    display: none
 }
 .box-footer {
    padding: 20px;
    background-color: rgb(46, 83, 131);
 }
 .title-suscription{
    display: none;
    font-size: 16px;
    color: white;
 }
 .email, .buttom-footer {
    border-radius: 5px;
 }
 .email-and-buttom {
    text-align: center;
 }
 .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }
 .logo-footer {
    width: 80px;
 }
 .h3-footer {
    text-align: center;
    font-size: 13px;
 }
 .h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
 }
 .social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white
 }

/*Mobile*/

@media (max-width:479px) {

    .logo {
        display: none;
    }
    
    }
    
    /*Ipad*/
    
@media (min-width:480px) {
    
    .iso {
    display: none;
        }
        
    }

@media (min-width:768px) {
    /* header */
    .title-header {
        display: block;
    }

    .logo {
        width: 150px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-left: -45px;
    }

    .ul-bar li {
        margin: 0px 10px;
    }

    .link-login {
        display: block;
    }

    .user-circle {
        margin-left: 20px;
        margin-right: 10px;
    }

    .logo {
        order: -1;
    }

    /* main */

    .all-login {
        min-height: 50vh;
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* footer */
    
    .email {
        width: 300px;
    }
    .buttom-footer {
        width: 150px;
    }
    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    /* header */

    .logo {
        width: 200px;
    }

    .search-bar {
        display: block;
    }

    .features-search {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .features-search i {
        margin-left: 5px;
    }

    .link-login-register {
        display: block;
        margin-right: 10px;
    }

    .user-circle {
        display: none;
    }

    /* main */
    .all-login {
        min-height: 65vh;
        width: 450px;
    }

    /* footer */
    
    .title-suscription {
        display:block;
        align-self: flex-end
    }
    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }
    .h3-footer-desktop {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        order: -1;
        text-align: center;
        font-size: 13px;        
    }
    .h3-footer-desktop a {
        color: rgb(230, 230, 230);
        text-decoration: none;
    }
    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }
    .logo-footer {
        display: none
    }
    .email {
        max-width: 60%;
    }
    .buttom-footer {
        max-width: 30%;
    }
    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }
    .email-and-buttom {
        display: flex;
        justify-content: center;
        height: 110px;
    }
    .box-footer form {
        max-width: 350px;
    }
}