@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box; 
}

body {
    font-family: "Roboto";
}

/*main*/

.main-container {
    padding-top: 30px;
}

.imgProduct {
    width:  300px;
    height: 300px;
    object-fit: scale-down;
    background-color: white;
}

main {
    background-color: #53a6f3;
    padding: 20px 0px;
    margin: auto;
    padding: 20px;
}

.filter-container {
    display: none;
    border-right: solid 0.5px black;
}

.filter-container h3 {
    border-bottom: solid 1px black;
    text-align: center;
}

.talle-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.marca-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.genero-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.product-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.precio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.descuentos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.ubicacion-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.product-description h2 {
    font-size: 20px;
}

.section-style article {
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
}

.article-style {
    background-color: white;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(31, 31, 31);
    margin-bottom: 20px;
    border-radius: 15px;
    min-height: 300px;
}

.article-conteiner {
    display: flex;
    flex-direction: row;

}


.article-style:hover {
    box-shadow: 10px 10px 10px rgb(31 31 31);
}

.article-style p {
    display: none;
}

.article-style:hover p {
    display: block;
}

.product-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

    
/*resolución 768*/

@media (min-width: 768px) {

    /*main*/

    .main-container {
        padding-top: 100px;
    }

    .product-results {
        justify-content: space-around;
    }

    .article-style {
        width: 40%;
        
    }

    .section-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (min-width: 1200px) {
    .product-results {
        display: none;
    }

    .main-container {
        padding-top: 170px;
    }
    .article-style {
        width: auto;
    }

    .main-container {
        display: flex;
    }

    .filter-container {
        display: block;
        margin-right: 30px;
        padding: 10px 30px 0px;
    }

    .price-form input{
        width: 100%;
    }

    .filter-container span {
        margin-bottom: 10px;
    }
}