<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iSporty - Inicio de sesión</title>
  <link rel="stylesheet" href="/css/styles-formulario-edit.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <main class="main-form">
    <h1>Editar producto</h1>
    <section>

      <form action="" method="GET" class="create-form">

        <div class="controlador">
          <label>* Editar producto publicado</label>
          <input type="text" name="producto" class="control">
        </div>

        <div class="controlador">
          <label>* Editar marca</label>
          <input type="text" name="marca" class="control">
        </div>

        <div class="controlador">
          <label>* Editar modelo</label>
          <input type="text" name="modelo" class="control">
        </div>

        <div class="controlador">
          <label>* Editar título del producto</label>
          <input type="password" name="titulo" class="control">
        </div>

        <div class="controlador">
          <label>* Editar precio</label>
          <input type="number" name="precio" class="control">
        </div>

        <div class="controlador">
          <label>* Editar imagen</label>
          <input type="file" name="imagen" accept=".jpg" class="control" multiple>
        </div>

        <div class="controlador">
          <label>* Editar color</label>
            <select name="color">
              <option value="">Rojo</option>
              <option value="">Negro</option>
              <option value="">Blanco</option>
              <option value="">Azul</option>
              <option value="">Rosa</option>
              <option value="">Estampado</option>
            </select>
        </div>

        <div class="controlador">
          <label>* Editar talles disponibles</label>
          <label>
          <input type="checkbox" name="talle" value="XS" multiple>XS</label>
          <label>
          <input type="checkbox" name="talle" value="S" multiple>S</label>
          <label>
          <input type="checkbox" name="talle" value="M" multiple>M</label>
          <label>
          <input type="checkbox" name="talle" value="L" multiple>L</label>
          <label>
          <input type="checkbox" name="talle" value="XL" multiple>XL</label>
          <label>
          <input type="checkbox" name="talle" value="XXL" multiple>XXL</label>
        </div>

        <div class="controlador">
          <label>* Editar cantidad a la venta</label>
            <select name="cantidad">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>              
            </select>
        </div>

        <div class="controlador">
          <label>* Editar categoría</label>
            <select name="categoria">
              <option value="Ropa femenina">Ropa femenina</option>
              <option value="Ropa masculina">Ropa masculina</option>
              <option value="Calzado">Calzado</option>
              <option value="Accesorios">Accesorios</option>
            </select>
        </div>

        <div class="controlador">
          <label>* Editar descripción</label>
          <textarea name="comentario" class="controlador-comentario"></textarea>
        </div>

        <button type="submit" class="boton-formulario">Guardar cambios</button>
        <button type="reset" class="boton-formulario">Cancelar</button>
      </form>

    </section>
    <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
      class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>

</html>