<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Formulario de Creacion</title>
    <link rel="stylesheet" href="/css/styles-formularioDeCreacion.css">
    <link rel="stylesheet" href="/css/styles-index.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <fieldset class="marco">
        <legend><h1>Carga de Productos</h1></legend>

        <label for="idProducto">Indica que producto vas a publicar:</label><br/>
        <input type="text" id="idProducto" name="idProducto"><br/><br/>

        <label for="categoria">¿A que categoría pertenece?</label><br/>
        <select>
        <option>Ropa Femenina</option>
        <option>Ropa Masculina</option>
        <option>Calzado</option>
        <option>Accesorios</option>
        </select><br/><br/>

        <label for="idMarca">Indique Marca del Producto a publicar:</label><br/>
        <input type="text" id="idMarca" name="idMarca"><br/><br/>

        <label for="idModelo">Indique Modelo del Producto a publicar</label><br/>
        <input type="text" id="idModelo" name="idModelo"><br/><br/>

        <label for="idTitulo">Indique Titulo del Producto</label><br/>
        <input type="text" id="idTitulo" name="idTitulo"><br/><br/>

        <label for="idColor"> Indique los colores que tiene este producto:</label><br/>
                <input type="checkbox" value="rojo">Rojo<br>
                <input type="checkbox" value="negro">Negro<br>
                <input type="checkbox" value="blanco">Blanco<br>
                <input type="checkbox" value="azul">Azul<br>
                <input type="checkbox" value="rosa">Rosa<br>
                <input type="checkbox" value="estampado">Estampado<br><br>

        <label for="idTalle"> Indique los talles que tiene este producto:</label>
        <input type="checkbox" value="XS">XS<br>
        <input type="checkbox" value="S">S<br>
        <input type="checkbox" value="M">M<br>
        <input type="checkbox" value="L">L<br>
        <input type="checkbox" value="XL">XL<br>
        <input type="checkbox" value="XXL">XXL<br><br>
        
    <h4>Seleccione las imagenes del producto:</h4>    
    <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
        <input type="file" name="imagen1" />
        <input type="submit" name="subir-imagen" value="Enviar imagen" /><br><br>
    </form>    

    <label for="idcantidad">Selecciono la cantidad de elementos disponibles para la venta:</label><br/>
        <input type="text" id="idcantidad" name="idcantidad"><br><br>

    <label for="comentario">Descripcion del Producto:</label><br>
        <textarea id="comentario" name="comentario" rows="4" cols="60"></textarea><br><br>

    <button type="submit"><a href="/">Enviar</a></button>
    <button type="reset">Borrar</button>


    </fieldset>
    <%- include("./partials/footer.ejs") %>
</body>
</html>