<!DOCTYPE html>
<html lang="es">


  <%- include("./partials/head.ejs", {
    pageTitle: "Inicio",
    cssTag: "<link rel='stylesheet' href='/css/styles-index.css'>"}) %>


<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <img class="banner" width="100%" src="/img/banner.png" alt="banner">
    <h2 class="title-news-first">Nuevos lanzamientos</h2>
    <section class="productos">

      <article>

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/remeraair.jpeg" alt="remera air hombre"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Remera Nike Air</li>
            </a>
            <li>$4.200</li>
          </ul>

        </div>

      </article>

      <article class="article-ipad">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/remeratraininggirl.jpeg"
                alt="remera training mujer"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Remera Training Mujer</li>
            </a>
            <li>$5.500</li>
          </ul>

        </div>

      </article>

      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillasairmaxmujer.jpeg"
                alt="zapatillas adidas mujer nuevas"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatilla Air Mujer</li>
            </a>
            <li>$19.990</li>
          </ul>

        </div>
      </article>

      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillsclassic.jpeg"
                alt="Zapatillas Adidas Blancas"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatillas Adidas Classic</li>
            </a>
            <li>$11.500</li>
          </ul>

        </div>

      </article>

      <article class="article-desktop">


    </section>

    <h2 class="title-news">Los más buscados</h2>

    <section class="productos2">

      <article>

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillas air.jpeg"
                alt="zapatillas nike colours"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatillas Nike Colours</li>
            </a>
            <li>$17.770</li>
          </ul>

        </div>

      </article>

      <article class="article-ipad">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillas air 95.jpeg"
                alt="zapatillas air 95"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatillas Air 95</li>
            </a>
            <li>$9.900</li>
          </ul>

        </div>

      </article>

      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/pantalon-nike.jpeg" alt="pantalón nike"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Pantalón nike D-line</li>
            </a>
            <li>$7.700</li>
          </ul>

        </div>

      </article>

      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/rs20.jpeg" alt="zapatillas rs 2.0"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatillas Nike RS 2.0</li>
            </a>
            <li>$16.600</li>
          </ul>

        </div>

      </article>

      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillasairmaxmujer.jpeg"
                alt="zapatillas adidas mujer nuevas"></a>
            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/product/detail/1">
              <li>Zapatilla Air Mujer</li>
            </a>
            <li>$19.990</li>
          </ul>

        </div>

      </article>

    </section>



    <div class="suscription-box">

      <h2>Suscríbete y obtén un 15% de descuento en todo el sitio web</h2>

      <form action="/">
        <div class="suscription-container">
          <div class="suscription-input">
            <input type="text" placeholder="Nombre" minlength="5">
            <input type="email" placeholder="Correo electrónico">
          </div>
          <button class="botonsuscribite" type="submit">Suscribirse</button>
        </div>
      </form>

    </div>

    <section>

      <h2 class="title-news">Elegí tu actividad favorita</h2>

      <ul class="actividad">
        <li>GYM</li>
        <li>Yoga</li>
        <li>Futbol</li>
        <li>Running</li>
        <li>Spinning</li>
      </ul>

      <section class="productos">

        <article>

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillas air.jpeg"
                  alt="zapatillas nike colours"></a>
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <a href="/product/detail/1">
                <li>Zapatillas Nike Colours</li>
              </a>
              <li>$17.770</li>
            </ul>

          </div>

        </article>

        <article class="article-ipad">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <a href="/product/detail/1"><img class="img-products" src="/img/products/Campera-nike.jpeg" alt="campera Nike"></a>
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <a href="/product/detail/1">
                <li>Campera Nike</li>
              </a>
              <li>$7.700</li>
            </ul>
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <a href="/product/detail/1"><img class="img-products" src="/img/products/zapatillasairmaxmujer.jpeg"
                  alt="zapatillas adidas mujer nuevas"></a>
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <a href="/product/detail/1">
                <li>Zapatilla Air Mujer</li>
              </a>
              <li>$19.990</li>
            </ul>

          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <a href="/product/detail/1"><img class="img-products" src="/img/products/pantalon-nike.jpeg" alt="pantalón nike"></a>
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <a href="/product/detail/1">
                <li>Pantalón nike D-line</li>
              </a>
              <li>$7.700</li>
            </ul>
          </div>
        </article>

      </section>

      <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
        class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>

  </main>
  <%- include("./partials/footer.ejs") %>
</body>

</html>