<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product-list</title>
        <link rel="stylesheet" href="/css/styles-productList.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            ACA VA EL HEADER
        </header>

        <main>
            <div class="main-container">
                <div class="filter-container">
                    <div class="talle-container">
                        <h3>Talle</h3>
                        <span>34,5</span>
                        <span>35</span>
                        <span>35,5</span>
                        <span>36,5</span>
                        <span>37</span>
                        <span>37,5</span>
                        <span>38</span>
                        <span>39</span>
                        <span>39,5</span>
                        <span>40</span>
                        <span>41</span>
                    </div>

                    <div class="marca-container">
                        <h3>Marca</h3>
                        <span>Nike</span>
                        <span>Adidas</span>
                        <span>Puma</span>
                        <span>Jordan</span>
                        <span>Reebok</span>
                    </div>

                    <div class="genero-container">
                        <h3>Género</h3>
                        <span>Hombre</span>
                        <span>Mujer</span>
                    </div>

                    <div class="precio-container">
                        <h3>Precio</h3>
                        <span>Hasta $6.500</span>
                        <span>$6.500 a $10.000</span>
                        <span>Más de $10.000</span>
                        <form action="/productList" class="price-form">
                            <input type="text" name="Mínimo" placeholder="Mínimo">
                            <input type="text" name="Máximo" placeholder="Máximo">
                        </form>
                    </div>

                    <div class="descuentos-container">
                        <h3>Descuentos</h3>
                        <span>5% OFF</span>
                        <span>10% OFF</span>
                        <span>15% OFF</span>
                        <span>20% OFF</span>
                        <span>25% OFF</span>
                        <span>30% OFF</span>
                    </div>

                    <div class="ubicacion-container">
                        <h3>Ubicación</h3>
                        <span>Bs.As.</span>
                        <span>Córdoba</span>
                        <span>Santa Fe</span>
                        <span>Tucumán</span>
                    </div>
                </div>


                <div class="product-results">
                    <p>+2000 resultados</p>
                    <p>
                        <i class="fas fa-chevron-down"></i>
                        Filtrar</p>
                </div>
                <section class="section-style">
                    <article class="article-style">
                        <img src="/img/Nike-air-force.jpg" alt="Zapatillas-Nike-Air-Force">
                        <div class="product-description">
                            <h2>Zapatillas Nike Air Force</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/Nike-court-borough.jpg" alt="Zapatillas-Nike-Court-Borough">
                        <div class="product-description">
                            <h2>Zapatillas Nike Court Borough</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/Nike-court-legacy.jpg" alt="Zapatillas-Nike-Court-Legacy">
                        <div class="product-description">
                            <h2>Zapatillas Nike Court Legacy</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/nike-reposto.jpg" alt="Zapatillas-Nike-Reposto">
                        <div class="product-description">
                            <h2>Zapatillas Nike Reposto</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/nike-revolution-5.jpg" alt="Zapatillas-Nike-Revolution-5">
                        <div class="product-description">
                            <h2>Zapatillas Nike Revolution 5</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/nike-court-vision.jpg" alt="Zapatillas-Nike-Court-Vision">
                        <div class="product-description">
                            <h2>Zapatillas Nike Court Vision</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/zapatillas air.jpeg" alt="Zapatillas-Air">
                        <div class="product-description">
                            <h2>Zapatillas Air</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/zapatillasairmaxmujer.jpeg" alt="Zapatillas-Air-Max-Mujer">
                        <div class="product-description">
                            <h2>Zapatillas-Air-Max</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>

                    <article class="article-style">
                        <img src="/img/zapatillsclassic.jpeg" alt="Zapatillas-Classic">
                        <div class="product-description">
                            <h2>Zapatillas Classic</h2>
                            <p>$$$Precio</p>
                        </div>
                        <i class="far fa-heart"></i>
                        <div class="shopping-cart">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </article>
                </section>
            </div>
        </main>

        <footer>
            ACA VA EL FOOTER
        </footer>
    </body>
</html>
