<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iSporty - Inicio de sesión</title>
  <link rel="stylesheet" href="/css/styles-producto.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <main class="main-container">

    <section class="main-section">
      <article class="top-box">
        <img src="/img/calzas.jpeg" width="90%" alt="Calzas">
      </article>

      <article class="top-box2">
        <div class="encabezado">
          <h3>CALZAS DE ENTRENAMIENTO COLOR NEGRO</h3>
          <p>$8000</p>
        </div>

        <div class="imagenproducto">
          <div class="talles">
            <label></label>
            <button type="submit">XS</button>
            <button type="submit">S</button>
            <button type="submit">M</button>
            <button type="submit">L</button>
            <button type="submit">XL</button>
            <button type="submit">XXL</button>
          </div>
          <div class="botoncarrito">
            <button type="submit">AGREGAR AL CARRITO</button>
          </div>
      </article>
    </section>

    <section class="main-section2">
      <div>
        <h3>Descripción del producto</h3>
        <p class="descripcion">Mejorá el tiempo en tus entrenamientos con estas Calzas las que poseen
          propiedades antihumedad inteligentes que te mantendrán fresca y cómoda mientras lo das todo.
           Su cintura de corte alta y las inserciones efecto cuero en la parte delantera y posterior
            y su detalle de doble costura te da la libertad de movimiento y un mejor rendimiento en 
            tus rutinas de ejercicios, además  te da un estilo único y característico de la marca.</p>
      </div>
    </section>

    <br>

    <h4>Personas interesadas en este producto también vieron:</h3>

      <section class="productos">
        <article>
          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/zapatillsclassic.jpeg" alt="Zapatillas Adidas Blancas">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Adidas Classic</li>
              <li>$11.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-ipad">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/rs20.jpeg" alt="zapatillas rs 2.0">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Nike RS 2.0</li>
              <li>$16.600</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/remeratraininggirl.jpeg" alt="remera training mujer">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Remera Training Mujer</li>
              <li>$5.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <img class="img-products" src="/img/Campera-nike.jpeg" alt="campera Nike">
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <li>Campera Nike</li>
              <li>$9.990</li>
            </ul>
          </div>

        </article>

      </section>

      <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
        class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>

  </main>

  <footer class="box-footer">

    <form action="/login" method="POST">
      <div class="email-and-buttom">
        <label class="title-suscription">Recibí las ofertas en tu mail</label>
        <input class="email" type="email" name="email" placeholder="Correo electrónico">
        <input class="buttom-footer" value="Suscribirse" type="submit">
      </div>
    </form>

    <div class="footer-container">
      <img src="img/logotipo-isporty.png" class="logotipo">
      <img class="logo-footer" src="/img/isotipo-isporty.png" alt="logo de isporty">
      <div class="h3-footer">
        <h3><a href="">Privacidad</a></h3>
        <h3><a href="">Comunidad</a></h3>
        <h3><a href="">Contacto</a></h3>
        <h3><a href="">Blog</a></h3>
        <h3><a href="">Términos y condiciones</a></h3>
      </div>

      <div class="h3-footer-desktop">
        <h3><a href="">Inicio</a></h3>
        <h3><a href="">Hombres</a></h3>
        <h3><a href="">Mujeres</a></h3>
        <h3><a href="">Marcas</a></h3>
        <h3><a href="">Ofertas</a></h3>
      </div>
    </div>

    <div class="social-medias">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-whatsapp"></i>
    </div>


  </footer>
</body>

</html>

</body>

</html>