
<header class="main-header">
  <h2 class="title-header">Envío gratis a todo el país en compras mayores a $6500</h2>
  <div class="header-container">
    <div class="burger-and-search">
      <div class="burger-menu">
          <i class="fas fa-bars"></i>
      </div>

      <div>
        <form class="features-search" action="">
          <input class="search-bar" type="text" name="search" placeholder="Buscar productos..."> <i class="fas fa-search"></i>
        </form>
      </div>
    </div>

    <nav class="nav-bar">
      <ul class="ul-bar">
        <a href="/"><li>Inicio</li></a>
        <li>Hombre</li>
        <li>Mujer</li>
        <li>Ofertas</li>
        <li><i class="fas fa-chevron-down"></i> Marcas</li>
      </ul>
    </nav>
    
    <a href="/" class="iso"><img class="iso" src="/img/isotipo-isporty.png" alt="logo de isporty"></a>
    <a href="/" class="logo"><img class="logo" src="/img/logotipo-isporty.png" alt="logo de isporty"></a>

      <div class="carrito-login">
          <div class="shopping-cart">
          <a href="/product/cart"><i class="fas fa-shopping-cart"></i></a>
          </div>

          <% if (locals.isLogged) { %>

            
            <img class="profileimg" src="/img/users/<%= locals.userLogged.image %>"><a href="/user/profile"><h3>Hola, <%= locals.userLogged.first_name %></h3></a>
            <a class= "link-login-register" href="/user/logout">Cerrar sesión</a>

          <% } else { %>

          <div class="user-circle">
            <a href="/user/login"><i class="far fa-user-circle"></i></a>
            <a href="/user/register"><i class="far fa-registered"></i></a>
          </div>
            <a class="link-login-register" href="/user/login">Iniciar sesión</a>
            <a class= "link-login-register" href="/user/register">Registrarse</a>
          <% } %> 
          
      </div>

  </div>
  </header>