<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Login",
    cssTag: "<link rel='stylesheet' href='/css/styles-login.css'>"}) %>

<body>
  <%- include("../partials/header.ejs") %>
    <main class="box-main">
      <div class="all-login">
        <div class="welcome">
        <h2>Bienvenid@ <i class="fas fa-sign-in-alt"></i></h2>
        </div>

        <form action="/user/login" method="post">
          <div class="form-container">

              <div class="input-user">
            <input type="text" name="email" placeholder="Email">
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger"> <%= errors.email.msg %>  </div>
            <% } %>
              </div>

              <div class="input-password">
            <input type="password" name="password" placeholder="Contraseña">
              </div>

            <button class="button-style" type="submit">Login</button>

            <div class="remind-me">
            <input type="checkbox" name="recordar_usuario" value="recordarme" id="remindMe">
            <label class="remind-text" for="remindMe">Recordarme</label>
            <div>

          </div>
        </form>

        <div class="questions-of-users">
        <h3><a href="">¿No recuerdas tu contraseña?</a></h3>
        <h3><a href="/user/register">¿No tienes cuenta? Regístrate</a></h3>
        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>